<h2>Database</h2>

<form action="/" method="post">
  <p>First name: <input type="text" name="first" autofocus></p>
  <p>Last name: <input type="text" name="last" autofocus></p>
  <p>Age: <input type="text" name="age" autofocus></p>
  <p>Phone Number: <input type="text" name="phone" autofocus></p>
  <button>Submit</button>
</form>

<% @contacts.each do |contact| %>
  <%= contact %><br>
<% end %>